@charset "utf-8";
/* CSS Document */

body{
margin:0px;
}

.header{
width:100%;
min-width:800px;
height:100px;
background:#000;

box-shadow:0px 10px 10px 0px #000;
position:relative;
z-index:10;
}

.container{
width:800px;
margin-left:auto;
margin-right:auto;
background:#CCC;
}

.content{
padding:20px 10px;
line-height:26px;
text-algin:justify;

}

.footer{
width:100%;
height:60px;
background:#000;
}
