@charset "utf-8";
/* CSS Document */
body{margin:0px;}


#container{
	width:100%;
	margin-left:auto;
	margin-right:auto;

}
#header-wrap{
	background:#000;
	}
#header{
	height:160px;
	background:#000000;
	width:1000px;
	margin:auto;
	}
#header h3{
	font-family: 'Atomic Age', cursive;
	font-size:60px;
	margin:0px;

	}
#nav-wrap{
	width:100%;
	background:#900;}	
#nav{
	width:1000px;
	background:#900;
	height:50px;
	color:#FFFFFF;
	margin-bottom:6px;
	margin:auto;
	}
#nav ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
	float:left;
}
#nav ul li:after{
	content:"";
	position:absolute;
	left:0;
	top:10px;
	width:1px;
	height:20px;
	background:#666;
	}
#nav li{
	float:left;
	width:120px;
	height:50PX;
	line-height:50px;
	text-align:center;
	position:relative;	
}
#nav ul li:hover
{
	
cursor:pointer;
color:#fff;
height:50px;
background:#666;
width:120px;
}

#nav a{
text-decoration:none;
	color:#FFF;
	width:100px;
	height:40px;
}

#nav a:visited
{
color:#FFF;
	width:100px;
	height:40px;
}	
	

#top-bar{
	 width:100%;


	 position:fixed;
	 top:-65px;

	background:#000;
	height:40px;
	color:#FFFFFF;

	font-family: 'Coda', cursive;	 
	 
	 /* CSS3 陰影*/
	-webkit-box-shadow: 0px 8px 15px #333;
	-moz-box-shadow: 0px 8px 15px #333;
	box-shadow: 0px 6px 15px #333;	 
}
	
	
#main{
width:1000px;
margin:auto;
background:#fff;
}	

#menu{
	width:280px;
	float:left;
	box-sizing:border-box;
	padding:5px 10px;
	font-family: 'Coda', cursive;
	background:#FFCCCC;
	
	}
#content{
	background:#fff;
	width:700px;
	float:right;
}
#fix{
	background:#fff;
	clear:both;
}	
#footer{
	height:70px;
	width:100%;
	min-width:1000px;
	clear:both;
	background:#fff;
	color:#000;
	text-align:center;
	font-size:16px;
	line-height:70px;
}


#map{
	width:970px;
	height:600px;
	border:4px solid #fff;
	box-shadow:0px 0px 5px 5px #666;
	margin-top:6px;
	margin-bottom:20px;
	float:left;
	margin-left:10px;
}
#map iframe{
	width:calc(100% - 4px);
	height:100%;
	}
	