@charset "utf-8";
/* CSS Document */

#myJumboImg{
background:#550000;
border-radius:15px;
margin-top:10px;
}

#myJumboImg{
background:url(../images/7.jpg) no-repeat;
color:#F00;
height:300px;
}

.carousel-caption h4.myred{
color:#F00;
}

.myCaro{
margin-bottom:20px;
}

.myBlock{
border-left:5px solid #00F;
}

#map-canvas {
height:500px;
margin:0px;
padding:0px

border:1px solid #000;
box-shadow:0px 0px 2px 2px #999;
}