@charset "utf-8";
/* CSS Document */

.ui-header{
background:#F00;
}

#page .ui-listview li{
margin-bottom:10px;
border:1px solid #000;
border-radius:20px 0px 20px 0px;
background:#550000;

}

#page .ui-listview li h3 a,
#page .ui-listview li p{
color:#ffaaaa;
text-shadow:none;
}


#page .ui-listview{
box-shadow:none;
}