@charset "utf-8";
/* CSS Document */

#page{
background:#66F;
}

#lv li{
background:#CF9;
text-shadow:none;
border:1px solid #000;	
}

#header{
height:100px;
background:#FF9;
color:#000;
text-shadow:none;
}