@charset "utf-8";
/* CSS Document */

.nav-glyphish-example .ui-btn .ui-btn-inner {
	padding-top: 40px !important;
}

.nav-glyphish-example .ui-btn .ui-icon {
	width: 30px!important;
	height: 30px!important;
	margin-left: -15px !important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-webkit-border-radius: none !important;
	border-r
	adius: none !important;
}

#feeling .ui-icon {
	background:  url(content/glyphish-icons/home.png) 50% 50% no-repeat;
	background-size: 22px 22px;
}

#icecream .ui-icon {
	background:url(../icons/sample-886-ice-cream-cone@2x.png) 50% 50% no-repeat;
	background-size: 22px 22px;
}

